# Python temporary files
__pycache__/
*.pyc

# Environment files (if you ever add passwords or keys later)
.env

# Virtual environments (if you use them)
venv/
.venv/

#dataset
data/
ml-latest-small/
